@model Diablos_Archives.Model.JoueurViewModel

@{
    ViewBag.Title = "View";
}

<h4>Joueur</h4>
<hr />
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IdPersonne)

<div class="form-group">
    @Html.LabelFor(model => model.TailleCm, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.TailleCm, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.TailleCm, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PoidsKg, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.PoidsKg, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PoidsKg, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EcoleSecondaire, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.EcoleSecondaire, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EcoleSecondaire, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VilleNatale, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.VilleNatale, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.VilleNatale, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DomaineEtude, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DomaineEtude, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DomaineEtude, "", new { @class = "text-danger" })
    </div>
</div>
